/* Write your custom CSS here */
@import "variables";

html,
body,
main,
nav,
article {
    // border: red 1px solid;
}

html {
}
body {
    margin: $space-sm;
}
main {
    display: flex;
    justify-content: center;
}
nav {
    max-height: calc(100vh - $space-lg);
    padding: $space-md;
    width: $nav-width;
    position: sticky;
    top: $space-sm;
}
nav label {
}
article {
    padding: $space-md;
    max-width: $page-width;
}
blockquote {
    border-left: $quote-border;
    background-color: $quote-bg;
    padding: $space-xs $space-lg;
    margin-inline: $space-lg;
}
.subtree {
    margin: 0;
    padding-inline-start: $space-sm;
}

#toc {
    margin-inline-start: $space-sm;
    padding-inline-start: $space-sm;
    // font-size: 80%;
}

.logo {
    padding-block: $space-md;
}
.site-title {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
}
