$baseline: 1.5rem;

$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;

$page-width: 80ch;
$nav-width: 40ch;

$background: #f9f9f9;
$color: #222;

$links: #00f;
$hover-links: #c00;
$visited-links: #009;

$font-size: 1.125rem;
$font-family:
    Segoe UI,
    system-ui,
    -apple-system,
    sans-serif;
$line-height: 1.75;
$code_font:
    400 1.125rem/1.75 SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    monospace;

$quote-bg: #dcdcdc;
$quote-border: #808080 8px solid;

$breakpoint-xs: 400px;
$breakpoint-sm: 600px;
$breakpoint-md: 800px;
$breakpoint-lg: 1200px;
