@import "variables";

* {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  margin: $space-sm;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  background: $background;
  color: $color;
}

main {
  flex-flow: row nowrap;
  animation: fade-in 0.4s ease-in-out;
  display: flex;
  justify-content: center;
}

nav {
  max-height: calc(100vh - $space-lg);
  padding: $space-md;
  width: $nav-width;
  position: sticky;
  top: $space-sm;
}

article {
  padding: $space-md;
  max-width: $page-width;
}

a {
  &:link {
    color: $links;
    text-decoration: none;
  }

  &:hover {
    color: $hover-links;
  }

  &:visited {
    color: $visited-links;
  }
}

h2,
h3,
h4 {
  .anchor {
    visibility: hidden;
    text-decoration: none;
    cursor: pointer;
    // line-height: 1;
    color: $color;
  }

  &:hover {
    .anchor {
      visibility: visible;
      animation: fade-in 0.3s ease-in-out;
      font-family: "FabricMDL2Icons";
    }
  }
}

// .logo {
//   padding-block: $space-md;
// }
.site-title {
  display: inline-flex;
  flex-direction: column;
  width: 80%;
}

// Blockquote
blockquote {
  border-left: $quote-border;
  background-color: $quote-bg;
  padding: $space-xs $space-lg;
  margin-inline: $space-lg;
}

// Table
table {
  width: 100%;
  margin: $space-lg auto;
  border-collapse: collapse;
}
table thead th,
table tfoot th {
  background: #00000010;
}
table th,
table td {
  padding: 2px;
  border: 1px solid $color;
}

// Code
pre {
  border-radius: 0.2rem;
  padding: $space-md;
  padding-bottom: 0;
  overflow-x: auto;
  code {
    background: transparent;
    border: none;
    // margin: 0;
    // padding: 0;

    &::after {
      content: attr(data-lang);
      font-style: italic;
      line-height: 1;
      opacity: 0.5;
      float: inline-end;
      padding: 1px 2px;
    }
  }
}

code {
  font: $code_font;
  padding: 1px 2px;
  text-wrap: pretty;
}
pre,
code {
  border: 1px solid $color;
}
.copy-code-button {
  font-family: "FabricMDL2Icons";
  background: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  animation: fade-in 0.3s ease-in-out;
  font-size: $baseline;
  color: $color;
  line-height: 1;
  display: none;
  position: relative;
  float: inline-end;
}

pre:hover .copy-code-button {
  display: block;
}

// Table of Contents
#toc {
  font-size: 90%;
  margin-inline-start: $space-sm;
  padding-inline-start: $space-sm;

  li {
    color: $color;

    &::before {
      display: inline-block;
    }

    ul {
      padding-inline-start: $space-md;
    }
  }
}

// #release {
//   text-align: left;
//   margin: $baseline 0;

//   &::before {
//     display: inline-block;
//     content: "\EE2E";
//     font-family: "FabricMDL2Icons";
//     margin-right: calc(#{$baseline} / 8);
//   }
// }

@keyframes fade-in {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 999px;
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    height: auto;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

#trees {
  overflow-y: auto;
}

.subtree {
  overflow: hidden;
  transition: overflow 0.2s ease-in-out;
  margin: 0;
  padding-inline-start: $space-sm;
}

.tree-toggle-label {
  user-select: none;
  cursor: pointer;
  padding: 0;
}

.tree-toggle-label::before {
  display: inline-block;
  content: "\E970";
  font-family: "FabricMDL2Icons";
  font-size: 0.75rem;
  transform: rotate(0deg);
  transform-origin: 50% 50% 0px;
  transition: transform 0.1s linear 0s;
  margin-inline-end: $space-xs;
}

.tree-toggle {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tree-toggle:checked + .tree-toggle-label::before {
  content: "\E970";
  font-family: "FabricMDL2Icons";
  font-size: 0.75rem;
  transform: rotate(90deg);
  transform-origin: 50% 50% 0px;
  transition: transform 0.1s linear 0s;
}

.tree-toggle:checked + .tree-toggle-label {
  font-weight: bold;
}

.tree-toggle + .tree-toggle-label + .subtree {
  animation-name: slideOut;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

.tree-toggle:checked + .tree-toggle-label + .subtree {
  animation-name: slideIn;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

.subtree li {
  list-style-type: none;

  a {
    color: $color;
  }

  &::before {
    content: "\E7C3";
    font-family: "FabricMDL2Icons";
    font-size: 0.75rem;
    margin-inline-end: $space-xs;
  }
}

.active a {
  font-weight: bold;
}

#mobile {
  display: none;
}

// Media Queries
@media screen and (max-width: $breakpoint-lg) {
  main {
    flex-flow: column nowrap;
  }

  nav {
    position: relative;
    height: auto;
  }

  article {
    z-index: 1;
  }

  #mobile {
    font-family: "FabricMDL2Icons";
    cursor: pointer;
    font-size: $baseline;
    margin: 0 $baseline 0 0;
    display: block;
    color: $color;
  }

  #trees {
    display: none;
    // position: absolute;
    background: $background;
    height: auto;
    width: 100vw;
    z-index: 10;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid $color;
  }

  #on_right {
    margin-top: $baseline;
  }
}

@import "fabric-icons-inline";
@import "search";
@import "custom";
