<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ get_url(path='main.css') | safe }}">

    {% if config.extra.favicon -%}
        {% set _favicon = config.extra.favicon -%}
        {% if (_favicon is starting_with("http")) == false -%}
            {% set _favicon = get_url(path=config.extra.favicon) -%}
        {% endif -%}
        <link rel="icon" href="{{ _favicon | safe }}">
    {% endif -%}

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" itemprop="about" content="{{ config.description }}" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap" />
</head>